<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Traveloka Application</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="holder headline">
        Traveloka Planner
      </div>
    </header>

    <!-- Input Section-->
    <section class = "input-form">
      <!-- Destination Input-->
      <div class="holder destination">
        <label for="destination">Enter a place</label>
        <input type="text" id="destination" placeholder="enter destination here">
      </div>

      <!-- Depart Datetime Inpur-->
      <div class="holder departDate">
        <label for="departDate">Pick the depart date</label>
        <input type="date" id="departDate">
      </div>

      <!-- Generate button-->
      <button id="generate" type="button"> Generate </button>
    </section>

    <!-- Output Section-->
    <section class = "output-form">
      <div class="info-area">
        <!--Geo info-->
        <div class="geo">
          <div id = "output-destination"></div>
          <div id = "output-country"></div>
        </div>

        <!--Depart Datetime-->
        <div class="depart">
          <div id="output-depart-date"></div>
        </div>

        <!-- Forecast Weather -->
        <div class="weather">
          <div id = "weather-forecast"></div>
        </div>

        <!-- Image -->
        <img id="output-image"></img>
      </div>
      <div class="btn-area">
        <!--Save button-->
        <button id="save-btn">save trip</button>

        <!--Remove button-->
        <button id="remove-btn">remove trip</button>
      </div>
    </section>
  </body>
</html>